.lalezar-regular {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}


.customText {
    font-size: 20px;
    font-family: "Lalezar", system-ui;
}

.customText2 {
    font-size: 40px;
    font-family: "Lalezar", system-ui;
}

.overflowBox {
    width: full;
    height: 350px;
    overflow: auto;
    padding: 5px;
}


.left-div {
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0e2;
}

.toggle-div {

    display: block;
    /* Initially hide the div */
}

.visible {
    display: none;

    /* Show the div */
}

.hidden {
    display: block;
    /* Hide the div */
}

@media (min-width: 768px) {
    .customText {
        font-size: 34px;
        font-family: "Lalezar", system-ui;
    }

    .customText2 {
        font-size: 30px;
        font-family: "Lalezar", system-ui;
    }

    .left-div {
        width: 35%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f0f0f0e2;
    }
}